@import '../../../../variables.module.scss';

.modal-container {
    .modal-content {
        background: $main-background-color;
    }

    .modal-title {
        color: $main-title-color;
        text-align: center;
        width: 100%;
        font-family: Ms Madi,cursive;
        font-weight: bold;
        font-size: 30px;
    }

    .text-modal-info {
      overflow: auto;
      height: 150px;
      margin: 10px;
    }
    
    .card-buttons-container {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0px 0px 25px 0px;
      
        .card-link {
          text-decoration: none;
          color: $black;
          padding: 10px;
        }
      }
}
