@import "../../../../variables.module.scss";


p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 14px;
}

.main-section {
  width: 100%;
}

.main-section-title {
  padding-top: 20px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
