@import "../../../../variables.module.scss";

.footer-section {
  margin-top: 20px;
  background: #f9f4da;
  width: 100%;
}

.welcome-title {
  color: $main-title-color;
  text-align: center;
  width: 100%;
  font-family: Ms Madi, cursive;
  font-weight: bold;
  text-align: left;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 14px;
}
