<div class="table-row center header">
  <div class="grid-item center">Canal</div>
  <div class="grid-item center">Instr.</div>
  <div class="grid-item center">Mic / DI</div>
  <div class="grid-item center">Stand</div>
  <div class="grid-item center">Ins. Mon</div>
  <div class="grid-item center">Ins. FOH</div>
</div>
<div class="table-row" *ngFor="let inputItem of rows">
  <div class="grid-item center">A</div>
  <div class="grid-item left">A</div>
  <div class="grid-item left">A</div>
  <div class="grid-item center">A</div>
  <div class="grid-item left">A</div>
  <div class="grid-item left">a</div>
</div>
