.verified_user {
  color: #0fa70f;
  text-shadow: 2px 2px #b1b1b1c4;
}

// mat-focus-indicator mat-button mat-button-base

.recommended {
  width: 100%;
  flex-direction: row;
  .gallery {
    display: flex;
    overflow-x: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.btn-arte {
  width: auto;
}

.home-section {
  margin-bottom: 8rem;
  width: 100%;
}

.center {
  text-align: center;
}
// .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   position: absolute;
//   pointer-events: none;
//   border-radius: inherit;
// }
