<h1>Bienvenido to Artists Hive!</h1>
<p>
  La comunidad más grande que conecta artistas independientes con los sitios. Encuentra tu lugar favorito. Disfruta de
  las mejores expresiones artísticas en tu lugar.
</p>
<!-- Next Steps -->
<div class="home-section">
  <div class="center">
    <h1 class="center">Novedades</h1>
    <!-- <p (click)="toogleSeleccionArtes()"> -->
    <!-- ¿Qué tipo de arte buscas? -->
    <!-- <mat-icon *ngIf="!desplegarSeleccionArtes" aria-hidden="false" style="font-size: 1rem"
        >keyboard_arrow_down</mat-icon
      ><mat-icon *ngIf="desplegarSeleccionArtes" aria-hidden="false" style="font-size: 1rem"
        >keyboard_arrow_up</mat-icon
      > -->
    <!-- </p> -->
  </div>

  <!-- <div *ngIf="desplegarSeleccionArtes">
    <div class="card-container">
      <button
        *ngFor="let botonArte of listaArtes"
        class="card card-small btn-arte"
        style="width: auto"
        (click)="seleccionarArte(botonArte)"
        tabindex="0"
      >
        <mat-icon aria-hidden="false" style="font-size: 1rem">{{ botonArte.icon }}</mat-icon>
        <span>{{ botonArte.name }}</span>
      </button>
    </div>
  </div> -->

  <app-recommended-selection
    [titleRecomendation]="'Artistas'"
    [description]="'Estos son los artistas nuevos más solicitados'"
    [listRecomendations]="artists"
    [recomendationCardParams]="artistsRecomendationCardParams"
    (onRecommendedClicked)="recommendedClicked($event)"
  ></app-recommended-selection>

  <app-recommended-selection
    [titleRecomendation]="'Lugares cercanos'"
    [description]="'Estos son los lugares más cercanos a tu ubicación que están buscando artistas'"
    [listRecomendations]="places"
    [recomendationCardParams]="placesRecomendationCardParams"
    (onRecommendedClicked)="recommendedClicked($event)"
  ></app-recommended-selection>
</div>

<div class="home-section">
  <div class="center">
    <h1>Cercanos a tí</h1>
  </div>

  <app-recommended-selection
    [titleRecomendation]="'Artistas'"
    [description]="'Descubre los artistas más buscado cerca a tu ubicación'"
    [listRecomendations]="topTenArtists"
    [recomendationCardParams]="artistsRecomendationCardParams"
    (onRecommendedClicked)="recommendedClicked($event)"
  ></app-recommended-selection>

  <app-recommended-selection
    [titleRecomendation]="'Lugares'"
    [description]="'Estos son los lugares más cercanos a tu ubicación que están buscando artistas'"
    [listRecomendations]="places"
    [recomendationCardParams]="placesRecomendationCardParams"
    (onRecommendedClicked)="recommendedClicked($event)"
  ></app-recommended-selection>
</div>
