@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables.module.scss";

.content {
  display: flex;
  margin: 1rem auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  width: 95%;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray-light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-medium;
}
