$main-background-color: #fff6eb;
$main-title-color: #7a260a;
$main-title-color-light: #803922;
$gray-medium: rgb(138, 137, 137);
$gray-light: rgb(180, 179, 179);
$gray-dark: rgb(94, 90, 90);
$black: #000000de;
$full-verified-color: rgb(74, 136, 77);
$only-verified-color: rgb(200, 195, 50);
